
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Otis Panel | Network</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>

    .networkPic img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        height: auto;
    }

    li {
        padding: 10px 12px;
    }

    li:hover {
        background-color: lightgreen;
    }

    li:active {
        background-color: lightgreen;
    }

    div.tabContent {
        padding: 6px 12px;
        color: black;
    }

    div.tab {
        color: white;
        cursor: pointer;
    }

    </style>

</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Otis Panel</a>
    </div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active" class="tabLinks"><a data-toggle="tab" href="#home">Home</a></li>
    <li class="tabLinks"><a data-toggle="tab" href="#network">Network</a></li>
    <li class="tabLinks"><a data-toggle="tab" href="#about">About</a></li>
  </ul>
</nav>



  <div class="tabContent">
    <div id="home" class="tab-pane fade in active">
     <div class="tabContent">

    <div class="networkPic">
        <img src="/static/otisLogo.png" alt="Otis Logo">
    </div>

    <p align="center">Otis Version 1.0</p><br /><br />
    <p align="center">To upload and train data, click the Network tab</p>
    <p align="center">To learn more about this application, click the About tab</p>
   </div>
 </div>

  <div id="network" class="tab-pane fade">
        <div class="table">
            <h2>File Upload</h2>
            	<form action="/data" method=post class="form-inline" enctype="multipart/form-data">
      		<p><input class="btn btn-outline-success" type=file name=data_file>
					<input class="btn btn-outline-success" type=submit value=Upload>
    		</form>
          <br />
    </div>
</div>


<!-- Tab explaining functionality/technicality of Otis Panel -->

<div id="about" class="tab-pane fade">
        <div class="row">
        <div class="network-background">
            <div class="col-sm">
                <p>Test</p>
            </div>
        </div>
        <div class="authors & git link">
            <div class="col-sm">
                <p>Test 2</p>
            </div>
        </div>
        <div class="specs">
             <div class="col-sm">
                <p>Test 3</p>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

<!-- Function to display formatted CSV table -->
<script>

</script>


<!-- Function to display different tabs -->
<script>
    function openTab(evt, tabName) {
        var i, tabContent, tabLinks;
        tabContent = document.getElementsByClassName("tabContent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        tabLinks = document.getElementsByClassName("tabLinks");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].className = tabLinks[i].className.replace("active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += "active";
    }
</script>

